<html lang="kr">
  	<head>
    <!-- Basic Page Needs
  ================================================== -->
    <title>래빈 - 입고내역 &gt; 주문신청 현황</title>
    {% load static %}
	<link href='{% static "css/table_style.css" %}' rel="stylesheet">
	</head>
  <body>

  </div>

    <div class="table-users">
      <table class='table-all' cellspacing="0">
        <tr class="menu-bar">
          <th width="150" style='font-weight: bold;'>이름</th>
          <th width="150" style='font-weight: bold;'>검색량</th>
          <th width="150" style='font-weight: bold;'>상품량</th>
		  <th width="90" style='font-weight: bold;'>경쟁량</th>
		  <th width="150" style='font-weight: bold;'>광고단가</th>
		  <th width="150" style='font-weight: bold;'>네이버링크</th>
		  <th width="150" style='font-weight: bold;'>스카우트</th>

     
		</tr>

		{% for li in scoutComp %}

			{% if li.5 == "링크없음" %}
				<tr >
					<td id='name' style='font-weight: bold;' >{{li.0}}</td>
					<td id='search' style='font-weight: bold;'>{{li.1}}</td>
					<td id='prd' style='font-weight: bold;'>{{li.2}}</td>
					<td id ='comp' style='font-weight: bold;'>{{li.3}}</td>
					<td id ='bid' style='font-weight: bold;'>{{li.4}}</td>
					<td id ='link' style='font-weight: bold;'>링크없음</td>
					<td id ='link' style='font-weight: bold;'> 

						<form name="myForm" action="{% url 'post' %}" method="POST">
							<input type="hidden" id='soul' value='{{li.0}}' name="some_key1"/>
							<button type="submit" class="btn">스카우트</button>
							</form>
	
							
					</td>
						
			{% else %}			
				<tr>
				<td id='name' style='font-weight: bold;' >{{li.0}}</td>
				<td id='search' style='font-weight: bold;'>{{li.1}}</td>
				<td id='prd' style='font-weight: bold;'>{{li.2}}</td>
				<td id ='comp' style='font-weight: bold;'>{{li.3}}</td>
				<td id ='bid' style='font-weight: bold;'>{{li.4}}</td>
				<td id ='link' OnClick=window.open('{{li.5}}') style='font-weight: bold;'>링크</td>

				<td id ='link' style='font-weight: bold;'> 
					<form name="myForm" action="{% url 'post' %}" method="POST">
						<input type="hidden" id='soul' value='{{li.0}}' name="some_key1"/>
						<button type="submit" class="btn">스카우트</button>
					</form>

						
				</td>
				</tr>
			{% endif %}
		{% endfor %}

          </td>
        </tr>
      </table>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">

	// 	$('.btn').click(function () {
	// 		collect(this);

	// 	});

	// 	function collect(godo) {
    // /* Remove row from DOM and recalc cart total */
    // //  product 하나의 큰 div를 뜻함
	// 	var input = $(godo).prev();
	// 	var name = $(godo).parent().parent().prevAll('#name');
	// 	console.log(name.html())
	// 	input.value = 'gogo'
	// 	console.log(input.value)

	// 	}


    </script>
  </body>
</html>
